#foxeye-chrome-extension-content-wrap *, #foxeye-chrome-extension-content-wrap div, #foxeye-chrome-extension-content-wrap div *, #foxeye-chrome-extension-content-wrap span, #foxeye-chrome-extension-content-wrap span *, #foxeye-chrome-extension-content-wrap em, #foxeye-chrome-extension-content-wrap em * {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

.foxeye-alert-toast {
    z-index: 999999999;
    position: fixed;
    bottom: 3.75%;
    margin:0 auto;
    left: 0;
    right: 0;
    width: 243px;
    height: 44px
}

.foxeye-content-body {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foxeye-content-body .modal-wrap {
    width: 500px;
    min-height: 506px;
    flex-direction: column;
    display: flex;
    position: relative;
}

.foxeye-content-body .modal-top {
    height: 200px;
    width: 500px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: rgba(215, 58, 74, 1);
    flex-direction: column;
    display: flex
}

.foxeye-content-body .modal-bottom {
    min-height: 306px;
    width: 500px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foxeye-content-body .no-approve-wrap {
    width: 500px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foxeye-content-body .approve-wrap {
    width: 406px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foxeye-content-body .foxeye-content-abort {
    width: 250px;
    height: 46px;
    background-color: #027DD5;
    border-radius: 23px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.foxeye-content-body .foxeye-content-abort:hover {
    background-color: #035FA4;
}

.foxeye-content-body .continue-btn {
    font-size: 16px;
    font-weight: 600;
    color: #027DD5;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 30px;
}

.foxeye-content-body .continue-btn:hover {
    color: #035FA4;
}

.foxeye-content-body .modal-title {
    font-size: 30px;
    font-weight: bold;
    color: #D73A4A;
    margin-top: 30px;
}

.foxeye-content-body .address-and-host {
    font-size: 14px;
    font-weight: 400;
    color: #535A61;
    margin-top: 10px;
    width: 460px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align: center;
}

.foxeye-content-body .alert-desc {
    font-size: 16px;
    font-weight: 400;
    color: #24272A;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    text-align: center;
    line-height: 20px;
}

.foxeye-content-body .foxeye-logo {
    width: 160px;
    height: 36px;
    margin-left: 18px;
    margin-top: 16px;
}

.foxeye-content-body .alert-type-img {
    width: 320px;
    height: 148px;
    margin-left: 90px;
}

.foxeye-content-body .check-report {
    font-size: 16px;
    font-weight: 400;
    color: #027DD5;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.foxeye-content-body .check-report:hover {
    color: #035FA4;
}

.foxeye-content-body .foxeye-back-img {
    width: 22px;
    height: 22px;
    background-image: var(--ic-back-normal);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 20px 0px 10px 20px;
}

foxeye-content-body .foxeye-back-img:hover {
    background-image: var(--ic-back-hover);
}

.foxeye-content-body .foxeye-subtype-top-wrap {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}

.foxeye-content-body .foxeye-subtype-top-ellipsis {
    font-size: 20px;
    font-weight: bold;
    color: #24272A;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.foxeye-content-body .foxeye-subtype-arrow-top {
    width: 12px;
    height: 6px;
    margin-top: 6px;
}

.foxeye-content-body .foxeye-subtype-arrow-bottom {
    width: 12px;
    height: 8px;
}

.foxeye-content-body .foxeye-subtype-type-text {
    font-size: 12px;
    font-weight: 400;
    color: #F6851B;
    line-height: 14px;
    padding: 3px 12px 3px 12px;
    background: #FDE0C6;
    border-radius: 10px;
}

.foxeye-content-body .foxeye-subtype-contract-wrap {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
}

.foxeye-content-body .foxeye-subtype-contract {
    font-size: 20px;
    font-weight: 400;
    color: #535A61;
    line-height: 24px;
}

.foxeye-content-body .foxeye-subtype-contract-address {
    font-size: 20px;
    font-weight: bold;
    color: #24272A;
    line-height: 24px;
    margin-left: 20px;
}

.foxeye-content-body .foxeye-subtype-desc {
    font-size: 16px;
    font-weight: 400;
    color: #24272A;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    max-width: 410px;
    word-wrap: break-word;
}

.foxeye-content-body .foxeye-impersonator-url-text {
    color: #D73A4A;
    font-style: normal;
}

.foxeye-content-body .modal-top-risk-token-wrap {
    height: 139px;
    width: 500px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: rgba(215, 58, 74, 1);
    flex-direction: column;
    display: flex
}

.foxeye-content-body .modal-risk-token-symbol-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.foxeye-content-body .modal-risk-token-symbol {
    max-width: 120px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 19px;
}

.foxeye-content-body .modal-risk-token-address {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255,255,255,0.85);
    line-height: 19px;
    margin-left: 10px;
}

.foxeye-content-body .modal-risk-token-level-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.foxeye-content-body .modal-risk-token-level-icon {
    width: 30px;
    height: 30px;
}

.foxeye-content-body .modal-risk-token-level {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 36px;
    margin-left: 3px;
}

.foxeye-content-body .modal-risk-token-info {
    height: 247px;
    width: 100%;
}

.foxeye-content-body .modal-bottom-risk-token-wrap {
    height: 360px;
    width: 500px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
}
