.foxeye-content-body {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrap {
    width: 500px;
    height: 506px;
    flex-irection: column
}

.modal-top {
    height: 200px;
    width: 500px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: rgba(215, 58, 74, 1);
    flex-direction: column;
    display: flex
}

.modal-bottom {
    height: 306px;
    width: 500px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foxeye-content-abort {
    width: 250px;
    height: 46px;
    background-color: #027DD5;
    border-radius: 23px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}

.foxeye-content-abort:hover {
    background-color: #035FA4;
}

.continue-btn {
    font-size: 16px;
    font-weight: 600;
    color: #027DD5;
    margin-top: 20px
}

.continue-btn:hover {
    color: #035FA4;
}

.modal-title {
    font-size: 30px;
    font-weight: bold;
    color: #D73A4A
}

.address-and-host {
    font-size: 16px;
    font-weight: 400;
    color: #535A61;
    margin-top: 10px;
}

.alert-desc {
    font-size: 14px;
    font-weight: 400;
    color: #24272A;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    text-align: center;
    line-height: 20px;
}

.foxeye-logo {
    width: 160px;
    height: 36px;
    margin-left: 18px;
    margin-top: 16px;
}

.alert-type-img {
    width: 320px;
    height: 148px;
    margin-left: 90px;
}

