.wallet-inactive-text {
    display: inline-block;
    color: rgba(36, 39, 42, 1);
    font-size: 20px;
    white-space: nowrap;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
}

.wallet-inactive_desc {
    display: inline-block;
    color: rgba(83, 90, 97, 1);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 8px;
    font-weight: 400;
}

.current-website {
    display: inline-block;
    color: rgba(36, 39, 42, 1);
    font-size: 16px;
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    margin: 30px 0 0 16px;
    font-weight: 600;
}

.web-info-wrap {
    padding: 22px 16px 32px 16px;
}

.web-favicon {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.web-host-info {
    margin-left: 10px;
}

.host-text {
    display: inline-block;
    color: rgba(36, 39, 42, 1);
    font-size: 16px;
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    font-weight: 600;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.website-name {
    display: inline-block;
    color: rgba(83, 90, 97, 1);
    font-size: 14px;
    white-space: nowrap;
    line-height: 16px;
    text-align: left;
    margin-top: 4px;
    font-weight: 400;
}

.security_wrap {
    width: 63px;
    height: 18px;
    background-color: #06A130;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.security-text {
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    white-space: nowrap;
    line-height: 12px;
    text-align: center;
    font-weight: bold;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(214, 217, 220, 1);
}

.token-detection-wrap {
    height: 70px;
    width: 100%;
    cursor: pointer;
}

.token-detection-wrap:hover {
    background-color: rgba(242, 244, 246, 1);
}

.token-detection-inter {
    width: 325px;
    height: 40px;
    margin: 15px 0 0 16px;
}

.detection-img {
    width: 36px;
    height: 36px;
}

.item-wrapper {
    margin-left: 10px;
}

.home-item-title {
    width: 120px;
    height: 20px;
    display: inline-block;
    color: rgba(36, 39, 42, 1);
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
}

.home-item-desc {
    width: 170px;
    height: 16px;
    display: inline-block;
    color: rgba(83, 90, 97, 1);
    font-size: 14px;
    white-space: nowrap;
    line-height: 16px;
    text-align: left;
    margin-top: 4px;
    font-weight: 400;
}

.arrow-img {
    width: 22px;
    height: 22px;
}

.setting-wrap {
    height: 70px;
    width: 100%;
    cursor: pointer;
}

.setting-wrap:hover {
    background-color: rgba(242, 244, 246, 1);
}

.address-text {
    display: inline-block;
    color: rgba(36, 39, 42, 1);
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    line-height: 24px;
    text-align: center;
}

.monitor-bg {
    width: 106px;
    height: 32px;
    background-color: #F2F4F6;
    border-radius: 16px;
    margin: 8px 0 0 0;
}

.monitor-text {
    display: inline-block;
    color: rgba(83, 90, 97, 1);
    font-size: 14px;
    white-space: nowrap;
    line-height: 16px;
    text-align: center;
    margin-left: 3px;
    font-weight: 400;
}

.home-top-wrap {
    width: 100%;
    height: 222px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 129px;
    border-radius: 16px;
    margin-top: 8px;
}

.account-wrap-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 129px;
    border-radius: 16px;
    margin-top: 8px;
    cursor: pointer;
}

.account-wrap-edit:hover {
    background: #F2F4F6;
}

.intercepted-and-account-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.intercepted-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intercepted-amount {
    font-size: 16px;
    font-weight: 600;
    color: #027DD5;
    line-height: 20px;
}

.intercepted-desc {
    font-size: 16px;
    font-weight: 600;
    color: #24272A;
    line-height: 20px;
}

.state-wrap {
    width: 325px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 9px 0px 9px 0px
}

.state-icon {
    width: 18px;
    height: 18px;
}

.account-icon {
    width: 10px;
    height: 10px;
}

.state-title {
    font-size: 14px;
    font-weight: 600;
    color: #24272A;
    line-height: 20px;
    margin-left: 8px;
    max-width: 165px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.state-web-security {
    width: 14px;
    height: 14px
}

.state-desc {
    font-size: 12px;
    font-weight: 400;
    color: #535A61;
    line-height: 14px;
    margin-left: 4px;
}

.state-synced {
    font-size: 12px;
    font-weight: 400;
    color: #9C9E9F;
    line-height: 14px;
}

.security-check-wrap {
    width: 325px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #F0F0F0;
    display: flex;
    flex-direction: row;
}

.security-check-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.security-check-item-amount {
    font-size: 16px;
    font-weight: 600;
    color: #24272A;
    line-height: 24px;
}

.security-check-item-desc {
    font-size: 12px;
    font-weight: 400;
    color: #535A61;
    line-height: 14px;
}

.security-check-item-line {
    width: 1px;
    height: 60px;
    background: #F0F0F0;
}

.ad-airdrop-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    align-items: center;
    position: relative;
}
.ad-airdrop {
    width: 325px;
    height: 80px;
    border-radius: 6px;
    cursor: pointer;
}

.ad-tag {
    width: 28px;
    height: 14px;
    position: absolute;
    left: 16px;
    top: 0px;
}

