body {
    margin: 0;
}

.popup-base {
    width: 357px;
    height: 600px;
    background-color: white;
}

.title-wrap {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(242, 244, 246, 1);
}

.title-logo {
    height: 28px;
    margin-left: 16px
}

.title-about {
    width: 22px;
    height: 22px;
    margin-right: 16px;
    background-image: var(--ic-about-normal);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.title-about:hover {
    background-image: var(--ic-about-hover);
}
