body {
    margin: 0;
}

.popup-body {
    width: 357px;
    height: 600px;
    background-color: white;
}

.title-wrap {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(242, 244, 246, 1);
}

.title-logo {
    height: 28px;
    margin-left: 16px
}

.title-doubt {
    height: 22px;
    margin-right: 16px
}

.account-wrap {
    height: 120px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.wallet-inactive-text {
    display: inline-block;
    color: rgba(36, 39, 42, 1);
    font-size: 20px;
    white-space: nowrap;
    line-height: 24px;
    text-align: center;
    font-family: SFUIDisplay-Semibold;
}

.wallet-inactive_desc {
    display: inline-block;
    color: rgba(83, 90, 97, 1);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 8px;
    font-family: SFUIDisplay-Regular;
}

.current-website {
    display: inline-block;
    color: rgba(36, 39, 42, 1);
    font-size: 16px;
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    margin: 30px 0 0 16px;
}

.web-info-wrap {
    padding: 22px 16px 32px 16px;
}

.web-favicon {
    width: 36px;
    height: 36px;
}

.web-host-info {
    margin-left: 10px;
}

.host-text {
    display: inline-block;
    color: rgba(36, 39, 42, 1);
    font-size: 16px;
    font-family: SFUIDisplay-Semibold;
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
}

.website-name {
    display: inline-block;
    color: rgba(83, 90, 97, 1);
    font-size: 14px;
    font-family: SFUIDisplay-Regular;
    white-space: nowrap;
    line-height: 16px;
    text-align: left;
    margin-top: 4px;
}

.security_wrap {
    width: 63px;
    height: 18px;
    background-color: #06A130;
    border-radius: 4px;
}

.text_10 {
    width: 53px;
    height: 12px;
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: SFUIDisplay-Bold;
    white-space: nowrap;
    line-height: 12px;
    text-align: center;
    margin: 3px 0 0 5px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(214, 217, 220, 1);
}

.block_6 {
    height: 70px;
    margin-top: 15px;
    width: 357px;
}

.box_6 {
    width: 325px;
    height: 40px;
    margin: 15px 0 0 16px;
}

.group_13 {
    z-index: 51;
    height: 36px;
    border-radius: 50%;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng919a764bd73b6d6c41e1b6d55b4caa469851f077ef47a5c198720ac6f9c198d2)
    100% no-repeat;
    margin-top: 2px;
    width: 36px;
    position: relative;
}

.group_14 {
    width: 17px;
    height: 17px;
    border: 2px solid rgba(255, 255, 255, 1);
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng47902a44dd06c50f925b24a4c6869b08fca641a50fa4b51264c2933d04a401bc) -2px -1px
    no-repeat;
    background-size: 16px 16px;
    margin: 10px 0 0 9px;
}

.group_15 {
    z-index: 53;
    position: absolute;
    left: 22px;
    top: 23px;
    width: 4px;
    height: 4px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngf8378ea568c43b4a8e2f09d6768a3e0011a920abfc98729e3e3d0aed6c1b60a7) -2px -1px
    no-repeat;
    background-size: 6px 6px;
}

.text-wrapper_4 {
    width: 170px;
    height: 40px;
    margin-left: 10px;
}

.text_6 {
    width: 120px;
    height: 20px;
    display: inline-block;
    color: rgba(36, 39, 42, 1);
    font-size: 16px;
    font-family: SFUIDisplay-Semibold;
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
}

.text_7 {
    width: 170px;
    height: 16px;
    display: inline-block;
    color: rgba(83, 90, 97, 1);
    font-size: 14px;
    font-family: SFUIDisplay-Regular;
    white-space: nowrap;
    line-height: 16px;
    text-align: left;
    margin-top: 4px;
}

.group_16 {
    height: 22px;
    background-color: rgba(255, 255, 255, 0.01);
    width: 22px;
    margin: 9px 0 0 87px;
}

.box_11 {
    width: 6px;
    height: 12px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngf3f2d7de332a4021440ad915322f1f23df2cfd0a5e155bcb0210afd3ca8914f3) -1px -1px
    no-repeat;
    background-size: 8px 14px;
    margin: 6px 0 0 12px;
}

.block_7 {
    height: 70px;
    width: 357px;
}

.section_3 {
    width: 325px;
    height: 40px;
    margin: 15px 0 0 16px;
}

.group_17 {
    height: 36px;
    border-radius: 50%;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng919a764bd73b6d6c41e1b6d55b4caa469851f077ef47a5c198720ac6f9c198d2)
    100% no-repeat;
    margin-top: 2px;
    width: 36px;
}

.box_12 {
    height: 15px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng733064019f8d42f36142dbd5dd841c2fade2ec27ef64477ba1f424db8bd7bdd6) -1px -2px
    no-repeat;
    background-size: 18px 18px;
    width: 15px;
    margin: 11px 0 0 11px;
}

.box_13 {
    width: 9px;
    height: 9px;
    border: 1.8px solid rgba(255, 255, 255, 1);
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge96c6461fcd7e177dbe93e58bfa3e0c300035e9edafbb67ce0264671a469ac97) -1px -1px
    no-repeat;
    background-size: 8px 8px;
    margin: 3.1999999999999886px 0 0 3.1999999999999993px;
}

.text-wrapper_5 {
    width: 90px;
    height: 40px;
    margin-left: 10px;
}

.text_8 {
    width: 77px;
    height: 20px;
    display: inline-block;
    color: rgba(36, 39, 42, 1);
    font-size: 16px;
    font-family: SFUIDisplay-Semibold;
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
}

.text_9 {
    width: 90px;
    height: 16px;
    display: inline-block;
    color: rgba(83, 90, 97, 1);
    font-size: 14px;
    font-family: SFUIDisplay-Regular;
    white-space: nowrap;
    line-height: 16px;
    text-align: left;
    margin-top: 4px;
}

.group_18 {
    height: 22px;
    background-color: rgba(255, 255, 255, 0.01);
    width: 22px;
    margin: 9px 0 0 167px;
}

.box_14 {
    width: 6px;
    height: 12px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngf3f2d7de332a4021440ad915322f1f23df2cfd0a5e155bcb0210afd3ca8914f3) -1px -1px
    no-repeat;
    background-size: 8px 14px;
    margin: 6px 0 0 12px;
}



